
*{
   margin: 0px;
   padding: 0px; 
}
body{
    background-color: grey;

}

#wrapper{
    min-height:100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.container header{
    height: 100px;
    
    color: white;
    text-align: center;
       
}

.container header h1{

    height: 100%;
    background-color: lightgray;
    width: 20%;
    margin: 2%;
    
}

.container nav{
    height: 40px;
    width: 100%;
    background-color: #666;
    border-radius: 5px;
}
.container nav ul{
    margin: 2% auto;
    list-style: none;


}

.container nav ul li{
    float: left;
    

}
.container nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    border-radius: 5px;
    
}

.container nav ul li a:hover{
    background-color:orangered;
}

#maincontent{
    padding-top:2%;
    
    text-align: center;
    width: 70%;
    float: left;
}
#maincontent article{
margin-left: auto;
margin-right: auto;
float: left;
    
    
    
}

#maincontent #topcontent{
   
    background-color: #fff;
    border-radius: 5px;
    padding: 3% 5%;
    clear: both;
    float: left;
  
}

#maincontent #bottomcontent{
   
    background-color: #fff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    float: left;
  
}

#top-sidebar{
    float:left;
    width:15%;
    background-color: #fff;
    border-radius: 5px;
     padding: 1% 3%;
     margin: 2%;
} 

#middle-sidebar{
    float:left;
    width:15%;
    background-color: #fff;
    border-radius: 5px;
     padding: 1% 3%;
     margin: 2%;
} 

#bottom-sidebar{
    float:left;
    width:15%;
    background-color: #fff;
    border-radius: 5px;
     padding: 1% 3%;
     margin: 2%;
} 

footer{
    width: 100%;
    height: 40px;
    float: left;
    background-color: #666;
    margin: 2% 0;
    border-radius: 5px;

}

footer p{
    color: #fff;
    text-align: center;
    width: 90%;      
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
    #wrapper{
    width: 90%;
  
    font-size: 95%;
}

.container header h1{

    height: 1000%;
    width: 90%;
    text-align: center;
      
}

.container nav{
    height: 160px;
   
}

.container nav ul li{
    width: 100%;
    text-align: center; 

}
.container nav ul li a{
    
   display: block;
   color: #fff;
   border-radius: 5px;
    
    
}

#maincontent{
    padding-top:2%;
    width: 100%;
    height: 100%;
    
}


#maincontent #topcontent{
    width: 80%;
    padding: 1% 3%;
    
  
}

#maincontent #bottomcontent{
    width: 70%;
    background-color: #fff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
  
}



}
 
 
